/* src/pages/VoterRegPage.css */

body {
    margin: 0;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input {
    margin-bottom: 10px;
    padding: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

button {
    padding: 12px;
    margin-bottom: 10px; /* Add margin between buttons */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: #ffffff; /* Set button text color */
    background: linear-gradient(to right, #56ab2f, #a8e063); /* Set button background gradient */
    width: 100%; /* Set button width to 100% */
}

.error-message {
    color: #ff0000;
    margin-top: 10px;
}

.voter-reg-container {
    background: linear-gradient(to right, #56ab2f, #a8e063); /* Set background gradient for voter registration */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.voter-reg-form {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 80px;
    max-width: 600px;
    width: 90%;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.form-label {
    font-weight: bold;
}

.error-message {
    font-size: 14px;
}
